
[Traces]
files=1
trace_type=i
transpose=true
index=0
nsamples=45832
trace=mem_addr1_rw1_200_45832.trace 200 45832

[Guesses]
files=1
guess_type=u
transpose=true
guess=mem_addr1_rw1_200_45832.input 200 16

[General]
threads=8
order=1
return_type=double
algorithm=AES
position=LUT/AES_AFTER_SBOX
round=0
bitnum=all
bytenum=all
#correct_key=0x000102030405060708090a0b0c0d0e0f
memory=4G
top=20
